<fieldset>
  <legend>Basics</legend>

  <p>Name<br />
  <%= f.text_field 'name' %></p>

  <p>Description<br />
  <%= f.text_field 'description' %></p>

  <p>Subdomain<br />
  <%= f.text_field 'subdomain' %></p>

  <p>Membership Size<br />
  <%= f.text_field 'membership_size' %></p>

  <p>Website URL<br />
  <%= f.text_field 'website_url' %></p>

  <p>RSS URL<br />
  <%= f.text_field 'rss_url' %></p>

  <p>iCal URL<br />
  <%= f.text_field 'ical_url' %></p>

  <p>Established<br />
  <%= f.date_select 'established_on' %></p>
</fieldset>


<fieldset>
  <legend>Location</legend>

  <p>City<br />
  <%= f.text_field 'city' %></p>

  <p>State<br />
  <%= f.text_field 'state_region' %></p>    

  <p>Country<br />
  <%= f.text_field 'country' %></p>

  <p>Postal Code<br />
  <%= f.text_field 'postal_code' %></p>

  <p>Lat<br />
  <%= f.text_field 'lat' %></p>

  <p>Long<br />
  <%= f.text_field 'lng' %></p>

</fieldset>

<%= recaptcha_tags %>