<%- @title = "Editing Brigade" -%>
<div id="forms">
<% form_for(@brigade) do |f| %>
  <% content_for :show_and_delete do %>
    <%= link_to 'Cancel Changes', @brigade %> or
    <%= link_to 'Delete', brigade_destroy_path(@brigade) %>
  <% end %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div id="primary"><%= yield :primary  %></div>
  <div id="secondary"><%= yield :secondary  %></div>
<% end %>
</div>