<%- content_for :primary do -%>
  <div id="header2">
    <% form_tag({:action => 'search'}, :method => 'get') do %>
      <p>
        <label for="search" id="search-label">Location</label>
        <%= text_field_tag 'search', params[:search] %>
        <button type="submit"><%= image_tag "search-icon.png", :size => "82x70" %></button>
      </p>
    <% end %>
  </div>
  <div id="map" class="large"><div id="map-inner" class="large"><div id="map_canvas" class="large"></div></div></div>
<%- end -%>
<%- content_for :secondary do -%>
  <div id="quote-wrapper">
    <div id="quote">
      <blockquote>
        <p>Looking to find a ruby user group near you? Just want explore the international ruby community? Browse the map,
          or just try guessing a url, like <a href="http://tampa.rubybrigade.org/">tampa.rubybrigade.org</a> or
          <a href="http://japan.rubybrigade.org/">japan.rubybrigade.org</a>.</p>
      </blockquote>
    </div>
  </div>
  <div id="new-brigades">
    <ul>
      <%- for brigade in @newest_brigades -%>
      <li>
        <%= link_to h(brigade.name), brigade_url(brigade) %><br />
        <span><%= h(brigade.location) %></span>
      </li>
      <%- end -%>
    </ul>
    <div id="add-brigade">
      <%= link_to 'New brigade', new_brigade_path %>
    </div>
  </div>
  <div id="upcoming-events">
    <ul>
      <%- for event in @upcoming_events -%>
      <li>
        <%= event.uri.blank? ? h(event.summary) : link_to(h(event.summary), h(event.uri)) %><br />
        <span><%= h(event.feed.brigade.name) %></span>
      </li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>
<%- content_for :google_maps do -%>
<script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script>
<script type="text/javascript">
google.load("maps", "2");

function createMarker(map, point, brigade) {
  var marker = new GMarker(point);
  GEvent.addListener(marker, "click", function() {
    marker.openInfoWindowHtml("<a href=\"" + brigade.url + "\"><strong>" + brigade.name + "</strong></a><br />" + brigade.description,
      {maxWidth: 230});
  });
  return marker;
}

function initialize() {
  if (GBrowserIsCompatible()) {
    map = new GMap2(document.getElementById("map_canvas"));
    <%- if @location -%>
    map.setCenter(new GLatLng(<%= "#{@location.lat},#{@location.lng}" %>), 6);
    <%- else -%>
    map.setCenter(new GLatLng(0,0), 1);
    <%- end -%>

    map.addControl(new GMapTypeControl());
    map.addControl(new GLargeMapControl());
    
    var brigades = <%= points_for_mapping(@brigades) %>;
    
    for(var i = 0; i < brigades.length; i++) {
      var brigade = brigades[i];
      var point = new GLatLng(brigade.lat, brigade.lng);
      map.addOverlay(createMarker(map, point, brigade));
    }
    
  }
}

Event.observe(window, 'load', initialize);
Event.observe(window, 'unload', function() { GUnload(); });
</script>
<%- end -%>