  <div id="primary">  
    <div id="search-box">
      <% form_tag({:action => 'search'}, :method => 'get') do %>
        <p>
          <label for="search" id="search-label">Location</label>
          <%= text_field_tag 'search', params[:search] %>
          <button type="submit"><%= image_tag "search-icon.png", :size => "82x70" %></button>
        </p>
      <% end %>
    </div>
    <div id="map"><div id="map-inner"><div id="map_canvas"></div></div></div>
  </div>
  <div id="secondary">
    <div id="quote-wrapper">
      <div id="quote">
        <p>&#8220;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis nibh turpis, accumsan eu, iaculis in, tincidunt id, tortor.&#8221;
          &#8220;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis nibh turpis, accumsan eu, iaculis in, tincidunt id, tortor.&#8221;</p>
      </div>
    </div>
    <div id="new-brigades">
      <ul><% for brigade in @newest_brigades %>
        <li><%= link_to brigade.name, brigade %>
        </li>
      <% end %></ul>
      <div id="add-brigade">
        <%= link_to 'New brigade', new_brigade_path %>
      </div>
    </div>
    <div id="upcoming-events">
      <ul><% for event in @upcoming_events -%>
        <li><%= event.summary %></li>
      <% end %></ul>
    </div>
  </div>
  <div id="footer">
    <p>A reasonable number of rights reserved</p>
    <p>&copy; Copyright 2007</p>
    <div id="paint-itred">
      <a href="http://paint.itred.org/"></a>
    </div>
  </div>

<% content_for :google_maps do %>
<script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script>
<script type="text/javascript">
google.load("maps", "2");

function createMarker(map, point, brigade) {
  var marker = new GMarker(point);
  GEvent.addListener(marker, "click", function() {
    marker.openInfoWindowHtml("<a href=\"/brigades/" + brigade.id + "\"><strong>" + brigade.name + "</strong></a><br />" + brigade.description,
      {maxWidth: 230});
  });
  return marker;
}

function initialize() {
  if (GBrowserIsCompatible()) {
    map = new GMap2(document.getElementById("map_canvas"));
    map.setCenter(new GLatLng(38.25, -99.53), 3);
    
    map.addControl(new GMapTypeControl());
    map.addControl(new GLargeMapControl());
    
    var brigades = <%= points_for_mapping(@brigades) %>;
    
    for(var i = 0; i < brigades.length; i++) {
      var brigade = brigades[i];
      var point = new GLatLng(brigade.lat, brigade.lng);
      map.addOverlay(createMarker(map, point, brigade));
    }
    
  }
}

Event.observe(window, 'load', initialize);
Event.observe(window, 'unload', function() { GUnload(); });
</script>
<% end %>