<script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script>
<script type="text/javascript">
google.load("maps", "2");

function createMarker(map, point, brigade) {
  var marker = new GMarker(point);
  GEvent.addListener(marker, "click", function() {
    marker.openInfoWindowHtml("<a href=\"/brigades/" + brigade.id + "\"><strong>" + brigade.name + "</strong></a><br />" + brigade.description,
      {maxWidth: 230});
  });
  return marker;
}

function initialize() {
  if (GBrowserIsCompatible()) {
    map = new GMap2(document.getElementById("map_canvas"));
    map.setCenter(new GLatLng(38.25, -99.53), 3);
    
    map.addControl(new GMapTypeControl());
    map.addControl(new GLargeMapControl());
    
    var brigades = <%= points_for_mapping(@brigades) %>;
    
    for(var i = 0; i < brigades.length; i++) {
      var brigade = brigades[i];
      var point = new GLatLng(brigade.lat, brigade.lng);
      map.addOverlay(createMarker(map, point, brigade));
    }
    
  }
}

Event.observe(window, 'load', initialize);
Event.observe(window, 'unload', function() { GUnload(); });
</script>

<h1>Ruby Brigade!</h1>

<% form_tag({:action => 'search'}, :method => 'get') do %>
  <p>Where are you? <%= text_field_tag 'search', params[:search] %> <%= submit_tag 'Find a Brigade!' %></p>
<% end %>

<div id="map_canvas" style="width: 600px; height: 375px"></div>

<h2>Upcoming Events</h2>
<% for event in @upcoming_events %>
  <p><strong><%= event.summary %></strong> - 
  <%= event.starts_at.strftime("%m/%d/%y") %> - 
  <%= event.location %></p>
<% end %>

<h2>Newest Brigades</h2>
<% for brigade in @newest_brigades %>
  <p><strong><%= link_to brigade.name, brigade %></strong> - 
  <%= brigade.location %></p>
<% end %>

<br />

<%= link_to 'New brigade', new_brigade_path %>