<h1>RubyBrigade</h1>

<script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script>
<script type="text/javascript">
google.load("maps", "2");

function initialize() {
  if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map_canvas"));
    map.setCenter(new GLatLng(38.25, -99.53), 3);
    
    var points = <%= @brigades.map{|b| [b.lat, b.lng]}.to_json %>;
    
    for(var i = 0; i < points.length; i++) {
      var point = new GLatLng(points[i][0], points[i][1]);
      map.addOverlay(new GMarker(point));
    }
    
  }
}

Event.observe(window, 'load', initialize);
//Event.observe(window, 'unload', GUnload);
</script>

<% form_tag({:action => 'search'}, :method => 'get') do %>
  Where are you? <%= text_field_tag 'search', params[:search] %> <%= submit_tag 'Find a Brigade!' %>
<% end %>

<div id="map_canvas" style="width: 500px; height: 300px"></div>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Size</th>
    <th>Established</th>
  </tr>
  
<% for brigade in @brigades %>
  <tr>
    <td><%=h brigade.name %></td>
    <td><%=h brigade.location %></td>
    <td><%=h brigade.membership_size %></td>
    <td><%=h brigade.established_on %></td>
    <td><%= link_to 'Show', brigade %></td>
    <td><%= link_to 'Edit', edit_brigade_path(brigade) %></td>
    <td><%= link_to 'Destroy', brigade, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New brigade', new_brigade_path %>