<% content_for :primary do %>
  <div id="header2"><h1><%= @brigade.name %></h1></div>
  <h3><%= @brigade.location %></h3>

  <p><label>Description:</label>
    <%= @brigade.description %></p>

  <p><label>Membership:</label>
    <%= @brigade.membership_size %></p>

  <p><label>Website:</label>
    <%= @brigade.website_url %></p>

  <p><label>RSS:</label>
    <%= @brigade.rss_feed.uri %></p>

  <p><label>iCal:</label>
    <%= @brigade.calendar.uri %></p>

  <p><label>Established:</label>
    <%= @brigade.established_on %></p>

  <%= link_to 'Edit', edit_brigade_path(@brigade) %> |
  <%= link_to 'Back', brigades_path %>
<% end %>

<% content_for :secondary do %>
  <div id="map" class="medium"><div id="map-inner" class="medium"><div id="map_canvas" class="medium"></div></div></div>
<% end %>

<% content_for :google_maps do %>

<script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script>
<script type="text/javascript">
google.load("maps", "2");

function createMarker(map, point, brigade) {
  var marker = new GMarker(point);
  GEvent.addListener(marker, "click", function() {
    marker.openInfoWindowHtml("<a href=\"/brigades/" + brigade.id + "\"><strong>" + brigade.name + "</strong></a><br />" + brigade.description,
      {maxWidth: 230});
  });
  return marker;
}

function initialize() {
  if (GBrowserIsCompatible()) {
    var brigades = <%= points_for_mapping([@brigade]) %>;
    var brigade = brigades[0];

    map = new GMap2(document.getElementById("map_canvas"));
    map.setCenter(new GLatLng(brigade.lat, brigade.lng), 8);
    
    map.addControl(new GMapTypeControl());
    map.addControl(new GSmallMapControl());
    
    for(var i = 0; i < brigades.length; i++) {
      var brigade = brigades[i];
      var point = new GLatLng(brigade.lat, brigade.lng);
      map.addOverlay(createMarker(map, point, brigade));
    }
    
  }
}

Event.observe(window, 'load', initialize);
Event.observe(window, 'unload', function() { GUnload(); });
</script>
<% end %>
