<%- content_for :primary do -%>
  <div id="header2"><h1><%=h @brigade.name %></h1></div>

  <div id="basic-box-wrapper" class="large">
    <div id="basic-box" class="large">
      <div id="description">
        <%= textilize h(@brigade.description) %>
      </div>
      <div id="details">
        <h3><%=h @brigade.location %></h3>
        <ul>
          <%- unless @brigade.membership_size.blank? -%><li><%= @brigade.membership_size %> Members Strong</li><%- end -%>
          <%- unless @brigade.established_on.nil? -%><li>Est. <%= @brigade.established_on.strftime("%B %Y") %></li><%- end -%>
          <%- unless @brigade.rss_feed.uri.blank? && @brigade.calendar.uri.blank? && @brigade.website_url.blank? -%>

          <%- end -%>
        </ul>
      </div>
      <br class="clear" />
    </div>
    <div class="edit"><p><%= link_to image_tag("button-edit.png", :size => "54x24"), edit_brigade_path(@brigade) %></p></div>
    <div id="links">
      <ul>
         <li>
            <%- unless @brigade.website_url.blank? -%><li><a href="<%= @brigade.website_url %>"><%= image_tag "button-website.png", :size => "83x24" %></a></li><%- end -%>
            <%- unless @brigade.rss_feed.uri.blank? -%><a href="<%= @brigade.rss_feed.uri %>"><%= image_tag "button-feed.png", :size => "37x37" %></a><%- end -%>
            <%- unless @brigade.calendar.uri.blank? -%><a href="<%= @brigade.calendar.uri %>"><%= image_tag "button-ical.png", :size => "19x24" %></a><%- end -%>
          </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
  <%- unless @brigade.events.empty? -%>
  <div id="basic-box-wrapper" class="large">
    <h2 class="upcoming-events">Upcoming Events</h2>
    <div id="basic-box" class="large">
      <table>
        <%- for event in @brigade.events -%>
        <tr>
          <td><%= event.starts_at.strftime("%A, %B %d, %Y, %I:%M %p") %></td>
          <td><%= link_to h(event.summary), h(event.uri) %></td>
        </tr>
        <%- end -%>
      </table>
    </div>
  </div>
  <%- end -%>
<%- end -%>
<%- content_for :secondary do -%>
  <div id="search-box">
    <% form_tag({:action => 'search'}, :method => 'get') do %>
      <label for="search" id="search-label">Location</label>
      <%= text_field_tag 'search', params[:search] %>
      <button type="submit"><%= image_tag "search-icon.png", :size => "82x70" %></button>
    <% end %>
  </div>
  <div id="map" class="medium"><div id="map-inner" class="medium"><div id="map_canvas" class="medium"></div></div></div>
  <%- unless @brigade.headlines.empty? -%>
  <div id="basic-box-wrapper" class="medium">
    <h2 class="headlines">Headlines</h2>
    <div id="basic-box" class="medium">
      <ul>
        <%- for headline in @brigade.headlines -%>
        <li><%= link_to headline.summary, headline.uri %></li>
        <%- end -%>
      </ul>
    </div>
  </div>
  <%- end -%>
<%- end -%>

<%- content_for :google_maps do -%>
<script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script>
<script type="text/javascript">
google.load("maps", "2");

function createMarker(map, point, brigade) {
  var letteredIcon = new GIcon(baseIcon);
  letteredIcon.image = "/images/marker.png";

  // Set up our GMarkerOptions object
  markerOptions = { icon:letteredIcon };
  var marker = new GMarker(point, markerOptions);
  GEvent.addListener(marker, "click", function() {
    marker.openInfoWindowHtml("<a href=\"/brigades/" + brigade.id + "\"><strong>" + brigade.name + "</strong></a><br />" + brigade.description,
      {maxWidth: 230});
  });
  return marker;
}

function initialize() {
  if (GBrowserIsCompatible()) {
    window.baseIcon = new GIcon();
    baseIcon.shadow = "http://www.google.com/mapfiles/shadow50.png";
    baseIcon.iconSize = new GSize(20, 34);
    baseIcon.shadowSize = new GSize(37, 34);
    baseIcon.iconAnchor = new GPoint(9, 34);
    baseIcon.infoWindowAnchor = new GPoint(9, 2);
    baseIcon.infoShadowAnchor = new GPoint(18, 25);

    var brigades = <%= points_for_mapping([@brigade]) %>;
    var brigade = brigades[0];

    var map = new GMap2(document.getElementById("map_canvas"));
    map.setCenter(new GLatLng(brigade.lat, brigade.lng), 8);
    
    map.addControl(new GMapTypeControl());
    map.addControl(new GSmallMapControl());
    
    for(var i = 0; i < brigades.length; i++) {
      var brigade = brigades[i];
      var point = new GLatLng(brigade.lat, brigade.lng);
      map.addOverlay(createMarker(map, point, brigade));
    }
    
  }
}

Event.observe(window, 'load', initialize);
Event.observe(window, 'unload', function() { GUnload(); });
</script>
<%- end -%>
