<%- content_for :primary do -%>
  <div id="header2"><h1><%=h @brigade.name %></h1></div>

  <div id="basic-box-wrapper" class="large">
    <div id="basic-box" class="large">
      <div id="description">
        <%= textilize h(@brigade.description) %>
      </div>
      <div id="details">
        <h3><%= @brigade.location %></h3>
        <ul>
          <%- unless @brigade.membership_size.blank? -%><li><%= @brigade.membership_size %> Members Strong</li><%- end -%>
          <%- unless @brigade.established_on.nil? -%><li>Est. <%= @brigade.established_on.strftime("%B %Y") %></li><%- end -%>
          <%- unless @brigade.website_url.blank? -%><li><a href="<%= @brigade.website_url %>">Website</a></li><%- end -%>
          <%- unless @brigade.rss_feed.uri.blank? && @brigade.calendar.uri.blank? -%>
          <li>
            <%- unless @brigade.rss_feed.uri.blank? -%><a href="<%= @brigade.rss_feed.uri %>">RSS</a><%- end -%>
            <%- unless @brigade.calendar.uri.blank? -%><a href="<%= @brigade.calendar.uri %>">iCal</a><%- end -%>
          </li>
          <%- end -%>
        </ul>
      </div>
      <br class="large" />
    </div>
    <div class="error"><p><%= link_to 'Edit this groups information', edit_brigade_path(@brigade) %></p></div>
  </div>
  <%- unless @brigade.events.empty? -%>
  <div id="basic-box-wrapper" class="large">
    <h2 class="upcoming-events">Upcoming Events</h2>
    <div id="basic-box" class="large">
      <table width="100%">
        <%- for event in @brigade.events -%>
        <tr><td><%= link_to event.summary, event.uri %></td><td><%= event.starts_at %></td></tr>
        <%- end -%>
      </table>
    </div>
  </div>
  <%- end -%>
<%- end -%>
<%- content_for :secondary do -%>
  <div id="search-box">
    <% form_tag({:action => 'search'}, :method => 'get') do %>
      <label for="search" id="search-label">Location</label>
      <%= text_field_tag 'search', params[:search] %>
      <button type="submit"><%= image_tag "search-icon.png", :size => "82x70" %></button>
    <% end %>
  </div>
  <div id="map" class="medium"><div id="map-inner" class="medium"><div id="map_canvas" class="medium"></div></div></div>
  <%- unless @brigade.headlines.empty? -%>
  <div id="basic-box-wrapper" class="medium">
    <h2 class="headlines">Headlines</h2>
    <div id="basic-box" class="medium">
      <ul>
        <%- for headline in @brigade.headlines -%>
        <li><%= link_to headline.summary, headline.uri %></li>
        <%- end -%>
      </ul>
    </div>
  </div>
  <%- end -%>
<%- end -%>

<%- content_for :google_maps do -%>
<script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script>
<script type="text/javascript">
google.load("maps", "2");

function createMarker(map, point, brigade) {
  var marker = new GMarker(point);
  GEvent.addListener(marker, "click", function() {
    marker.openInfoWindowHtml("<a href=\"/brigades/" + brigade.id + "\"><strong>" + brigade.name + "</strong></a><br />" + brigade.description,
      {maxWidth: 230});
  });
  return marker;
}

function initialize() {
  if (GBrowserIsCompatible()) {
    var brigades = <%= points_for_mapping([@brigade]) %>;
    var brigade = brigades[0];

    map = new GMap2(document.getElementById("map_canvas"));
    map.setCenter(new GLatLng(brigade.lat, brigade.lng), 8);
    
    map.addControl(new GMapTypeControl());
    map.addControl(new GSmallMapControl());
    
    for(var i = 0; i < brigades.length; i++) {
      var brigade = brigades[i];
      var point = new GLatLng(brigade.lat, brigade.lng);
      map.addOverlay(createMarker(map, point, brigade));
    }
    
  }
}

Event.observe(window, 'load', initialize);
Event.observe(window, 'unload', function() { GUnload(); });
</script>
<%- end -%>
